<div class="container">
    <div>
        <h2>Créer votre compte adhérent</h2>
    </div>

    <form>
        <div class="col-sm-2 col-md-2 col-lg-2" hidden>

            <input type="text" name="idUser" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <select class="form-select" id="idCivilite" name="idCivilite" [(ngModel)]="newIdCivilite">
                <option *ngFor="let civilite of civilites" [value]="civilite.idCivilite">
                    {{civilite.nomCivilite}}
                </option>
            </select>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text" name="nomUser" [(ngModel)]="newUser.nomUser" class="form-control"
                placeholder="Veuillez saisir votre nom...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text" name="prenomUser" [(ngModel)]="newUser.prenomUser" class="form-control"
                placeholder="Veuillez saisir votre prénom...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text" name="emailUser" [(ngModel)]="newUser.emailUser" class="form-control"
                placeholder="Veuillez saisir votre Email...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date de naissance</label>
            <input type="date" name="dateNaissanceUser" [(ngModel)]="newUser.dateNaissanceUser" class="form-control"
                placeholder="Veuillez saisir votre année de naissance...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text" name="adresseUser" [(ngModel)]="newUser.adresseUser" class="form-control"
                placeholder="Veuillez saisir votre adresse...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="number" name="CpUser" [(ngModel)]="newUser.CpUser" class="form-control"
                placeholder="Veuillez saisir votre code postale...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text" name="villeUser" [(ngModel)]="newUser.villeUser" class="form-control"
                placeholder="Veuillez saisir votre ville...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text" name="paysUser" [(ngModel)]="newUser.paysUser" class="form-control"
                placeholder="Veuillez saisir votre pays...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text" name="telephoneUser" [(ngModel)]="newUser.telephoneUser" class="form-control"
                placeholder="Veuillez saisir votre téléphone...">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text" name="passwordUser" [(ngModel)]="newUser.passwordUser" class="form-control"
                placeholder="Veuillez saisir votre mot de passe...">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input type="checkbox" name="ProgrammeEntrainementUser" [(ngModel)]="newUser.progEntrainementUser"
                class="checkbox"> Je souhaite bénéficier d'un accompagnement et de programmes d'entraînements
            personnalisés ?
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input type="checkbox" name="emailingUser" [(ngModel)]="newUser.emailingUser" class="checkbox"> Je souhaite
            recevoir les dernières actualités des partenaires ?
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input type="checkbox" name="CgvUser" [(ngModel)]="newUser.cgVenteUser" class="checkbox"> En passant à
            l'étape suivante, vous acceptez de vous conformer aux conditions générales de vente du club sportif ?
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <select class="form-select" id="idAbonnement" name="idAbonnement" [(ngModel)]="newIdAbonnement">
                <option *ngFor="let abonnement of abonnements" [value]="abonnement.idAbonnement">
                    {{abonnement.nomAbonnement}}
                </option>
            </select>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <select class="form-select" id="idCivilite" name="idCivilite" [(ngModel)]="newIdClub">
                <option *ngFor="let club of clubs" [value]="club.idClub">
                    {{club.villeClub}}
                </option>
            </select>
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-success" (click)="addUser()">Créer mon compte</button>
        </div>
    </form>

</div>