

body{
   
    position: relative!important;
    background-size: cover!important;
    height: 100vh!important;
    background-image:linear-gradient(to bottom, rgba(197, 23, 23, 0.73),  rgba(252, 245, 245, 0.541)), url("../assets/images/backgroundHome.jpg");
}

/* ,linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%)!important; */

.navbar{
    
    background: transparent!important;
    position: relative!important;
}

.navbar-brand {
    color: blanchedalmond!important;
}

.text-color-white{
    color: blanchedalmond!important;
}

.btn{
    border-color: blanchedalmond;
    color: blanchedalmond!important;
}

.btn:hover{
    border-color: black!important;
    color: crimson!important;
    background-color: blanchedalmond!important;
    font-weight: bold!important;
    box-shadow: black 0px 5px 15px!important;
    border: none!important;
}

