<div class="row justify-content-center mt-5">
    <div class=" col-6 text-center mt-5">
    <div>
        <h2>Connectez-vous à votre espace adhérent!</h2>
    </div>

    <form  #f="ngForm">
     <div class="row justify-content-center">
        <div class="formulaire col-9 mt-2">
            <input type="text" ngModel="emailUser" name="emailUser" class="form-control"
                placeholder="Veuillez saisir votre email...">
        </div>
       
        <div class="formulaire col-9 mt-2">
            <input type="text" ngModel="passwordUser" name="passwordUser" class="form-control"
                placeholder="Veuillez saisir votre mot de passe...">
        </div>
     </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-success" >Me connecter</button>
        </div>
    </form>
    <div class="mt-5">
        <h4>Pas encore inscrit!! c'est par ici!!</h4>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-success" >S'inscrire</button>
    </div>
</div>
</div>
